---
Language: Cpp
BasedOnStyle: LLVM

Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AlignAfterOpenBracket: Align
AlignOperands: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: true
...
